*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: yellowgreen;
    margin: 0 auto;
}

.header-bg{
  padding-top: 120px;
  background-image: url(../img/background.png);
  background-size: 100% 130%; 
  background-repeat: no-repeat;
  height: 600px;
  margin-bottom: 120px;
}
.main_nav{
  display: flex;
  justify-content: space-between;
}
.nav_promises h4{
  color: #0d3e60;
  font-size: 20px;
}
.nav_promises p{
  color: #0d3e60;
  font-size: 16px;
}
.tooltip-inner{
  background-color: transparent !important;
  color: #0d3e60 !important;
  margin-top: 20px !important;
  box-shadow: 5px 5px 10px #ddd;
}

.header_info{
}
.h_title p{
  font-size: 19px;
  color: #0d3e60;
  margin-top: -10px;
}

.h_title h2{
  font-size: 37px;
  color: #0d3e60;
  margin-top: -15px;
}
.communication{
  display: flex;
}
.communication .to{
  margin: 0px 10px;
}

.communication .name input,
.communication .email input{
  background-color: transparent;
  border:none;
}

.communication .name{
  padding-bottom: 10px;
  border-bottom: 5px solid #f07f65;
}
.communication .email{
  padding-bottom: 10px;
  border-bottom: 5px solid #0099c7;
}
.communication .name input::placeholder{
  color: #f07f65;
  font-size: 16px;
}
.communication .email input::placeholder{
  color: #0099c7;
  font-size: 16px;
}
.invite_btn input{
  background-image: linear-gradient(#eb6e38, #eb5338);
}

.invitaion{
  margin-top: 100px;
  display: flex;
  margin-bottom: 50px;
}
.invitaion .invite_btn input{
  width: 230px;
  height: 50px;
  border-radius: 15px;
  margin-right: 20px;
  color: #fff;
  border:none;
}
.invitaion .invite_text{
  margin-top: 15px;
}
.notice{
  display: flex;
}
.notice img{
  margin-right: 20px;
  width: 45px;
  height: 45px;
}
.notice p{
  margin-top: -3px;
  color: #0d3e60;
}



.main_content{
  margin:80px 0px;
}

.main_content_left ul{
  list-style: none;
  display: flex;
}
.main_content_left ul li{
  margin:0px 10px;
  background-color: #fff9df;
  padding: 10px 15px;
  border-radius: 15px;
  border: 1px solid #dfd9cf;
}
.main_content_left ul li a{
  text-decoration: none;
  color: #0d3e60;
}

.main_content_left h2{
  font-size: 30px;
  color: #eb5238;
  margin: 80px 0px;
}

.main_content_left p{
  font-size: 22px;
  color: #0d3e60;
}

.features{
  display: grid;
  grid-gap: 100px;
  grid-template-columns: 90%;
  
}
.feature1, .feature3{
  position: relative;
  box-shadow: 0px 6px 30px #d9d4d4;
  border-radius: 15px;
  padding: 30px 20px;
}

.feature2{
  position: relative;
  box-shadow: 0px 6px 30px #d9d4d4;
  border-radius: 15px;
  padding: 30px 20px;
  margin-top: 130px;
  margin-left: 30px;
}
.feature2 p{
  text-align: justify;
  color: #2e435e;
  line-height: 26px;
  font-size: 15px;
  padding-bottom: 10px;
}

.feature2 a, .feature2 a i{
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  margin-left: 5px;
  margin-top: 5px;
}
.feature2 a:hover, .feature2 a i:hover{
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  margin-left: 2px;
}

.feature1 img, .feature2 img, .feature3 img{
  position: absolute;
  top: -15%;
  left: -15%;
}
.feature1 h3, .feature2 h3, .feature3 h3{
  padding-top: 20px;
  font-size: 20px;
  margin-bottom: 25px;
  color: #2e435e;
}
.feature1 p, .feature3 p{
  text-align: justify;
  color: #2e435e;
  line-height: 26px;
  font-size: 15px;
}

.features .feature2 a{
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  text-align: center !important;
}

.feature2, .feature2 p, .feature2 h3{
  background-image: linear-gradient(#eb6e38, #eb5238);
  color: white !important;
}

.f_content{
  display: flex;
}


.f_content_left{
  background-color: red;
  width: 65%;
}

.f_content_right{
  background-color: blue;
  width: 35%;
}



.subscribe{
 display: flex;
 float: right;
}

.subscribe input{
  background-color: transparent;
  border:none;
  width: 250px;
  padding-bottom: 10px;
}

.subscribe input::placeholder{
  color: #2e435e;
  font-size: 16px;
  font-weight: bold;
}
.subscribe_btn input{
  background-image: linear-gradient(#eb6e38, #eb5338);
}

.subscribe, .cupon{
  margin-top: 30px;
  display: flex;
  margin-bottom: 50px;
  float: right;
}
.subscribe .subscribe_btn input{
  width: 160px;
  height: 50px;
  border-radius: 15px;
  margin-right: 20px;
  color: #fff;
  border:none;
  font-size:16px;
  padding-top: 5px;
}

.subscribe_content_left h2{
  font-size: 22px;
  color: #2e435e;
  margin-bottom: 15px;
}
.subscribe_content_left p{
  margin-top: 30px;
}

.subscribe_content_left img{
  float: left;
  margin-right: 30px;
  margin-top: 30px;
  padding: 0 0 15px 15px;
}







.cupon{
 display: flex;
 float: right;
}

.cupon input{
  background-color: transparent;
  border:none;
  width: 250px;
  padding-bottom: 10px;
}

.cupon input::placeholder{
  color: #2e435e;
  font-size: 16px;
  font-weight: bold;
}
.cupon_btn input{
  background-image: linear-gradient(#0099c7, #0099c7);
}

.cupon, .cupon{
  margin-top: 30px;
  display: flex;
  margin-bottom: 50px;
  float: right;
}
.cupon .cupon_btn input{
  width: 130px;
  height: 50px;
  border-radius: 15px;
  margin-right: 20px;
  color: #fff;
  border:none;
  font-size:16px;
  padding-top: 5px;
}

.cupon_content_left h2{
  font-size: 22px;
  color: #2e435e;
  margin-bottom: 15px;
}
.cupon_content_left p{
  margin-top: 30px;
}

.sc_content{
  margin-top: 100px;
}


.footer{
  display: flex;
  margin-top: 100px;
  margin-bottom: 70px;
  justify-content: space-between;
}
.footer .footer_logo{
  display: flex;
}
.footer .footer_logo span{
  margin-top: 10px;
  margin-left: 10px;
  color: #2e435e;
}
.footermenu ul{
  list-style: none;
  display: flex;
}
.footermenu ul li{
  font-weight: bold;
  margin-left: 10px;
}
.footermenu ul li a{
  text-decoration: none;
  color: #2e435e;
  font-size: 16px;
}
